<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <title>Fakebook - Jan</title>
</head>

<body>
  <h1>FAKEBOOK</h1>
  <h2>Oseba: Jan Kambič</h2>

  <p class="link"><a href="https://www.facebook.com/jkambic1">Dodaj prijatelja</a></p>
  <img class="image" src="profil.jpg" width="300">
  <p></p>

  <button>Dregni osebo:</button>
  <input placeholder="Ime">
  <p></p>

  <table>
    <tr>
      <td>Kraj bivanja:</td>
      <td>Ljubljana</td>
    </tr>
    <tr>
      <td>Rojstni kraj:</td>
      <td>Črnomelj</td>
    </tr>
  </table>

  <ul><strong>Hobiji:</strong>
    <li>nabiranje like-ov</li>
    <li>selfieji</li>
    <li>fake news</li>
  </ul>

  <p class="citat"><strong>Priljubljen citat: </strong><em>Karma is a bitch!</em></p>
</body>
</html>
